@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300);

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 2.888888888888889em;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
a {
  color: #717171;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  text-decoration: none;
  color: #3e3e3e;
}


.navbar {
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3000;
  padding: 15px 0;
  top: -100px;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.navbar .navbar-nav {
  float: none;
  margin: 10px 0;
}
.navbar .navbar-nav li {
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-left: 5px;
}
.navbar .navbar-nav li a {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0;
  padding: 12px 16px;
  color: #fff;
  outline: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar .navbar-nav li a:hover {
  background-color: rgba(0, 0, 255, 0.59);
  outline: none;
  color: #fff;
}
.navbar .navbar-nav li a:focus {
  background-color: transparent;
  outline: none;
}
.navbar .navbar-nav li:hover {
  background-color: rgba(0, 0, 255, 0.59);
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar .navbar-nav .active {
  background-color: rgba(0, 0, 255, 0.59);
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover {
  color: #fff;
}
.navbar .navbar-brand {
  margin: 0 0 0 15px;
  padding: 0;
}
.navbar .navbar-toggle {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar .navbar-toggle:hover {
  background-color: #717171;
  border: 1px solid #717171;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #8b8b8b;
}
.navbar .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.96);
  text-align: center;
  -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 15px;
}
.minified {
  opacity: 0.95;
  top: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.jumbotron {
  padding: 100px 0 60px;
  margin-top: 0;
  margin-bottom: 0;
  background: transparent url('../myimage/header-bg.jpg') no-repeat top center;
  background-size: auto auto;
  background-attachment: fixed;
  font-size: 1em;
  height: auto;
  overflow: hidden;
}
.jumbotron .container {
  text-align: center;
  margin-top: 220px;
}
.jumbotron h1 {
  color: #fff;
  font-size: 2.888888888888889em;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 80px;
  opacity: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.jumbotron p {
  font-size: 1.333333333333333em;
  line-height: 1.333333333333333em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  margin-bottom: 40px;
  opacity: 0;
}
.jumbotron p a {
  color: #fff;
}
.jumbotron p a:hover {
  color: #fff;
}
.jumbotron #header-photo {
  opacity: 0;
  margin-top: -100px;
}

/*----------------------About Me-------------*/


#about{

text-align: center;
padding: 100px 0;
-webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);
box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);    
}

#about h1{
margin: 0 0 40px 0;
color: #579f6a;    

}

#about .round-outline {
  border: 2px solid #e4e4e4;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 164px;
  width: 164px;
}
#about .round-outline:hover {
  border: 2px solid #fff;
}
#about .round-outline .round-photo-anchor {
  position: relative;
  display: inline-block;
}
#about .round-outline .round-photo-anchor img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#about .round-outline .round-photo-anchor .round-caption-bg {
  background-color: rgba(0, 0, 255, 0.59);
  height: 90%;
  width: 90%;
  margin: 5%;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
#about .round-outline .round-photo-anchor i {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
}
#about .round-outline .round-photo-anchor:hover .round-caption-bg {
  opacity: 0.8;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
#about .round-outline .round-photo-anchor:hover i {
  top: 45%;
  opacity: 0.75;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
#about .round-outline .round-photo-anchor:hover i:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}


.round-outline {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #fff;
  display: inline-block;
    
}
.round-outline .round-photo {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 4px;
   
}

/*----------------------My Resume---------------*/
#resume h1,h2{
text-align: center;
   }

#resume h2{
font-size: 32px;
}


#resume{

font-size: 100%;
  color: #7f8c97;
  background-color: #e9f0f5;
    padding: 100px 0;
-webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);
box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.1);  
}
 
#resume * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#resume *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#resume a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

#resume img {
  max-width: 100%;
}


#resume h1, h2 {
  
  font-weight: bold;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
    background-color: #e9f0f5;
    color: #7f8c97;
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cd-timeline img{

  max-width: 100%;

}

#cd-timeline::after{

-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}




/*----------------------Footer---------------*/
.footer {
  background-color: #707070  ;
  text-align: center;
}
.footer p {
  color: #b6d5be;
  line-height: 1.666666666666667;
  margin: 25px 0;
}


.cbp-so-scroller {
  overflow: hidden;
}

.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}
.cbp-so-section:after {
  clear: both;
}

.cbp-so-side {
      overflow: hidden;
      min-height: 12em;
      -webkit-transition: -webkit-transform 1s, opacity 0.75s;
      -moz-transition: -moz-transform 1s, opacity 0.75s;
      transition: transform 1s, opacity 0.75s;
    }

.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}
.cbp-so-side:after {
  clear: both;
}
.cbp-so-side-bottom {
  text-align: inherit;
}
.cbp-so-side-top {
  text-align: inherit;
}





/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar .navbar-nav {
    float: right;
    margin: 2px 0 2px 0;
  }
  .navbar .navbar-nav li {
    margin-left: 5px;
  }
  .navbar .navbar-nav li a {
    display: inline-block;
    padding: 8px 16px;
    color: #717171;
  }
  .navbar .navbar-collapse {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0);
  }
    
 #about .round-outline {
    height: 164px;
    width: 164px;
  }
  #about .round-outline .round-photo-anchor img {
    margin: 4px;
  }    
  
}


@media (min-width: 1200px) {

p h1{
opacity: 1; padding-top: 90px;
}  

.jumbotron{
    height: 100%;
    background: transparent url('../myimage/header-bg.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}
      
}